.MyProfile_profile_container {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 7rem;
    margin-top: 2rem;
}

.MyProfile_avatar_container {
    height: 100px;
    width: 100px;
}

.MyProfile_details_container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.MyProfile_name {
    font-size: 32px;
    font-weight: 600;
}

.MyProfile_address {
    font-size: 20px;
    font-weight: 500;
    color: #d83a52;
    margin-top: 5px;
}

.MyProfile_edit_icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.MyProfile_email_contact_container {
    width: 90%;
    margin-top: 4rem;
}

.MyProfile_email_contact_box {
    width: 70%;
    height: 50px;
    background: #f5f6f8;
    border-radius: 0 24px 24px 24px;
    margin-top: 1rem;
    padding: 1rem 2rem;
    color: #323338;
}

.MyProfile_email_contact_input {
    width: 100%;
    background-color: #f5f6f8;
}

.MyProfile_email_contact_input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #939499;
}

.MyProfile_email_contact_input::-ms-value {
    font-size: 16px;
    font-weight: 500;
    color: #939499;
}

.MyProfile_email_contact_input:focus {
    outline: none;
}

.MyProfile_about_me {
    width: 90%;
    margin-top: 4rem;
}

.MyProfile_about_me_title {
    font-size: 20px;
    color: #d83a52;
    font-weight: 500;
    padding-left: 2rem;
}

.MyProfile_about_me_description {
    width: 70%;
    height: 187px;
    background: #f5f6f8;
    border-radius: 0 24px 24px 24px;
    margin-top: 1rem;
    padding: 1rem 2rem;
    color: #323338;
}

.MyProfile_about_me_description_text {
    font-size: 20px;
    font-weight: 500;
}
