.side_bar_container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  background-color: #ffffff;
  border-radius: 16px;
}

.options_container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.rectangle {
  width: 95%;
  height: 2px;
  background: #eef1f3;
  margin-top: 20rem;
}

@media only screen and (max-width: 550px) {
  .rectangle {
    margin-top: 6rem;
  }
}
