.AddProjectModal_title {
  font-size: 32px;
  font-weight: 600;
}

.AddProjectModal_text {
  font-size: 24px;
  font-weight: 500;
  color: #d83a52;
}

.AddProjectModal_box {
  width: 100%;
  height: 50px;
  background: #f5f6f8;
  border-radius: 0 24px 24px 24px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  color: #323338;
}

.AddProjectModal_input {
  width: 100%;
  background-color: #f5f6f8;
}

.AddProjectModal_input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #939499;
}

.AddProjectModal_input:focus {
  outline: none;
}

.AddProjectModal_logo {
  height: 32px;
  width: 32px;
  background-color: white;
  color: #d83a52;
  cursor: pointer;
}
